
@font-face {
    font-family:'beckman';
    src: url(fonts/Beckman-Free.otf);
}
@font-face {
    font-family: 'rubik';
    src: url(fonts/Rubik-Light.ttf);
}
body{
    background-color:#0E1923 ;
}
a{
    text-decoration: none;
    color: white;
}

nav{
    background-color: #111111;
    text-align: center;
    height: 60px;
}
.logo-pequena{
  position: absolute;
  width: 50px;
  height: 40px;
  display: inline-block;
  margin-left: 20px;
  top: 8px;
  transition: 0.6s;
}

.logo-pequena:hover{
  width: 55px;
  height: 45px;
  background-color: #FF4655;
}

.menu-caixa{
    display: inline-block;
    padding: 20px;
}

.menu-nav{
    color: #FFFFFF;
    display: inline-block;
    font-family: beckman;
    font-size: 16px;
    text-decoration: none;
    margin-right: 40px;
    border-bottom: 1px solid transparent;
    padding-bottom: 21.5px;
    transition-duration: 0.6s;
    position: relative;
}
/*.pesquisa{
    position: absolute;
    display: inline-block;
    right: 0;
    width: 20px;
    height: 30px;
    color: white;
    margin-top: 20px;
}*/
.menu-nav:hover{
    border-bottom: solid white 1px;
    background-color: #FF4655;
    padding: 5px;
    font-size: 17px;
}

.menu-nav:active{
    border-bottom: solid white 1px;
    background-color: #FF4655;
    padding: 5px;
    font-size: 17px;
}
.submenu-nav{
  display: none;
  width: 150px;
  height: 160px;
  background-color: #111111;
  list-style: none;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: top center;
  border-top: transparent;
  padding-top: 20px;
  z-index: 2;
  margin-top: 24px;
}

.submenu-item {
  margin-top: 7px;
  margin-bottom: 7px;
  position: relative;
}

.submenu-link{
  color: white;
  font-family: beckman;
}
.submenu-link:hover{
  border-bottom: solid white 1px;
  transition-delay: 0.25s;
}


.caixa-main{
    border-top: #E4E4E4 5px solid;
    border-radius: 13px;
}

.caixa-parent{
    text-align: left;
}
.caixa-conteudo{
    background-color: #162736;
    margin: 2px 15px;
    margin-top: 40px;
    border-radius: 5px;
    width: 889px;
    height: 111px;
    display: inline-block;
    position: relative;
    left: 5px;
}
#paginainic{
    font-family: beckman;
    color: white;
    text-align: left;
    margin-top:32px;
    font-size: 50px;
    margin-left: 40px;
}
.caixa-boasvindas{
  background-color: #162736;
  margin: 1px 15px;
  border-radius: 5px;
  width: 889px;
  height: 222px;
  display: inline-block;
  position: relative;
  left: 5px;
}
#boasvindas {
  font-family: beckman;
  color: white;
  text-align: center;
  margin-top:55px;
  font-size: 30px;
  margin-left: 40px;
}
#explicacao{
  font-family: beckman;
  color: white;
  text-align: center;
  margin-top:45px;
  font-size: 30px;
  margin-left: 30px;
}
.armas {
  background-color: #162736;
  margin: 25px 15px;
  margin-block-end: 2px;
  border-radius: 5px;
  width: 889px;
  height: 126px;
  display: inline-block;
  position: relative;
  left: 5px;
}
#armas{
  font-family: beckman;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 45px;
  margin-left: 30px;
}
.sub-categoria-armas{
  background-color: #162736;
  margin: 1px 15px;
  border-radius: 5px;
  width: 889px;
  height: 760px;
  display: inline-block;
  position: relative;
  left: 5px;
}
.sub-text-armas{
  font-family: beckman;
  color: white;
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
  margin-left: 30px;
}
.leves-text{
  font-family: beckman;
  color: white;
  margin-top: 30px;
  font-size: 20px;
  margin-left: 50px;
}
.armas-leves{
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-left: 85px;
  max-width: 800px;
  align-items: center;
}
.armas-leves>div{
  flex: 1 1 60px;
  margin: 30px;
}
p {
  font-family: beckman;
  color: white;
  font-size: 15px;
}
.classic{
  width: 105px;
  height: 75px;
}
.classic:hover{
  width: 115px;
  height: 85px;
}
.shorty{
  width: 175px;
  height: 55px;
}
.shorty:hover{
  width: 185px;
  height: 60px;
}
.frenzy{
  width: 105px;
  height: 75px;
}
.frenzy:hover{
  width: 115px;
  height: 85px;
}
.ghost{
  width: 180px;
  height: 60px;
}
.ghost:hover{
  width: 190px;
  height: 70px;
}
.sheriff{
  width: 135px;
  height: 70px;
}
.sheriff:hover{
  width: 145px;
  height: 80px;
}
.submetralhadoras{
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-left: 85px;
  max-width: 800px;
  align-items: center;
}
.submetralhadoras>div{
  flex: 1 1 60px;
  margin: 30px;
}
.stinger{
  width: 195px;
  height: 75px;
}
.stinger:hover{
  width: 205px;
  height: 80px;
}
.spectre{
  width: 195px;
  height: 75px;
}
.spectre:hover{
  width: 205px;
  height: 80px;
}
.mais-armas{
  background-color: #162736;
  margin: 1px 15px;
  margin-block-end: 2px;
  border-radius: 5px;
  width: 889px;
  height: 100px;
  display: inline-block;
  position: relative;
  left: 5px;
}
.mais-armas:hover{
  background-color: #395d7c;
}
.mais-arma{
  font-family: beckman;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
  margin-left: 30px;
}
.mais-arma:hover{
  font-size: 35px;
}
.agentes{
  background-color: #162736;
  margin: 25px 15px;
  margin-block-end: 2px;
  border-radius: 5px;
  width: 889px;
  height: 126px;
  display: inline-block;
  position: relative;
  left: 5px;
}
#agente{
  font-family: beckman;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 45px;
  margin-left: 30px;
}
.resumo-agentes{
  font-family: beckman;
  color: white;
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
  margin-left: 10px;
}
.tipos-agentes{
  background-color: #162736;
  margin: 1px 15px;
  border-radius: 5px;
  width: 889px;
  height: 800px;
  display: inline-block;
  position: relative;
  left: 5px;
}
.agentes-img{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 85px;
  max-width: 790px;
  align-items: center;
}
.agentes-img>div{
  flex: 1 1 60px;
  margin: 30px;
}
.sova{
  width: 170px;
  height: 220px;
}
.sova:hover{
  width: 180px;
  height: 230px;
}
.breach{
  width: 170px;
  height: 220px;
}
.breach:hover{
  width: 180px;
  height: 230px;
}
.skye{
  width: 170px;
  height: 220px;
}
.skye:hover{
  width: 180px;
  height: 230px;
}
.kayo{
  width: 170px;
  height: 220px;
}
.kayo:hover{
  width: 180px;
  height: 230px;
}
/*.duelistas{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 85px;
  max-width: 800px;
  align-items: center;
}
.duelistas>div{
  flex: 1 1 60px;
  margin: 30px;
}*/
.jett{
  width: 170px;
  height: 220px;
}
.jett:hover{
  width: 180px;
  height: 230px;
}
/*.phoenix{
  width: 170px;
  height: 220px;
}
.phoenix:hover{
  width: 180px;
  height: 230px;
}*/
.raze{
  width: 170px;
  height: 220px;
}
.raze:hover{
  width: 180px;
  height: 230px;
}
.reyna{
  width: 170px;
  height: 220px;
}
/*.reyna:hover{
  width: 180px;
  height: 230px;
}
.yoru{
  width: 170px;
  height: 220px;
}
.yoru:hover{
  width: 180px;
  height: 230px;
}
.controladores{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 85px;
  max-width: 800px;
  align-items: center;
}
.controladores>div{
  flex: 1 1 60px;
  margin: 30px;
}
.astra{
  width: 170px;
  height: 220px;
}
.astra:hover{
  width: 180px;
  height: 230px;
}
.brimstone{
  width: 170px;
  height: 220px;
}
.brimstone:hover{
  width: 180px;
  height: 230px;
}
.omen{
  width: 170px;
  height: 220px;
}
.omen:hover{
  width: 180px;
  height: 230px;
}
.viper{
  width: 170px;
  height: 220px;
}
.viper:hover{
  width: 180px;
  height: 230px;
}
.sentinelas{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 85px;
  max-width: 800px;
  align-items: center;
}
.sentinelas>div{
  flex: 1 1 60px;
  margin: 30px;
}
.cypher{
  width: 170px;
  height: 220px;
}
.cypher:hover{
  width: 180px;
  height: 230px;
}
.killjoy{
  width: 170px;
  height: 220px;
}
.killjoy:hover{
  width: 180px;
  height: 230px;
}
.sage{
  width: 170px;
  height: 220px;
}
.sage:hover{
  width: 180px;
  height: 230px;
}*/
.mais-agentes{
  background-color: #162736;
  margin: 1px 15px;
  margin-block-end: 2px;
  border-radius: 5px;
  width: 889px;
  height: 100px;
  display: inline-block;
  position: relative;
  left: 5px;
}
.mais-agentes:hover{
  background-color: #395d7c;
}
.mais-agente{
  font-family: beckman;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
  margin-left: 30px;
}
.mais-agente:hover{
  font-size: 35px;
}
.mapas-titulo{
  background-color: #162736;
  margin: 25px 15px;
  margin-block-end: 2px;
  border-radius: 5px;
  width: 889px;
  height: 126px;
  display: inline-block;
  position: relative;
  left: 5px;
}
#mapas{
  font-family: beckman;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 45px;
  margin-left: 30px;
}
.mapas-conteu{
  background-color: #162736;
  margin: 1px 15px;
  border-radius: 5px;
  width: 889px;
  height: 800px;
  display: inline-block;
  position: relative;
  left: 5px;
}
.mapas-img{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 85px;
  max-width: 790px;
  align-items: center;
}
.linha-horizontal{
    border-bottom: #162736 2px solid;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
b{
    font-weight: bold;
}

i{
    font-style: italic;
}

.banner{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.caixa-footer{
    border-top: #E4E4E4 5px solid;
    border-radius: 13px;

}
.caixa-rodape{
    background-color: #111111;
    text-align: center;
    /*position: fixed;
    bottom: 0;*/
    width: 100%;
    color: #E4E4E4;
}
.rodape-imagem{
    width: 10%;
    height: 70px;
}

.copyright{
    font-size: 12px;
    font-family: rubik;
    margin-bottom: 5px;
    padding-bottom: 15px;
    font-weight: bold;
}

.icones{
    width: 30px;
    display: inline-block;
    margin-bottom:15px;
    margin-right: 5px;
}
