
@font-face {
    font-family:'beckman';
    src: url(fonts/Beckman-Free.otf);
}
@font-face {
    font-family: 'rubik';
    src: url(fonts/Rubik-Light.ttf);
}
body{
    background-color:#0E1923 ;
}
a{
    text-decoration: none;
    color: white;
}

nav{
    background-color: #111111;
    text-align: center;
    height: 60px;
}
.logo-pequena{
  position: absolute;
  width: 50px;
  height: 40px;
  display: inline-block;
  margin-left: 20px;
  top: 8px;
  transition: 0.6s;
}

.logo-pequena:hover{
  width: 55px;
  height: 45px;
  background-color: #FF4655;
}

.menu-caixa{
    display: inline-block;
    padding: 20px;
}

.menu-nav{
    color: #FFFFFF;
    display: inline-block;
    font-family: beckman;
    font-size: 16px;
    text-decoration: none;
    margin-right: 40px;
    border-bottom: 1px solid transparent;
    padding-bottom: 21.5px;
    transition-duration: 0.6s;
    position: relative;
}
/*.pesquisa{
    position: absolute;
    display: inline-block;
    right: 0;
    width: 20px;
    height: 30px;
    color: white;
    margin-top: 20px;
}*/
.menu-nav:hover{
    border-bottom: solid white 1px;
    background-color: #FF4655;
    padding: 5px;
    font-size: 17px;
}

.menu-nav:active{
    border-bottom: solid white 1px;
    background-color: #FF4655;
    padding: 5px;
    font-size: 17px;
}
.submenu-nav{
  display: none;
  width: 150px;
  height: 160px;
  background-color: #111111;
  list-style: none;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: top center;
  border-top: transparent;
  padding-top: 20px;
  z-index: 2;
  margin-top: 24px;
}

.submenu-item {
  margin-top: 7px;
  margin-bottom: 7px;
  position: relative;
}

.submenu-link{
  color: white;
  font-family: beckman;
}
.submenu-link:hover{
  border-bottom: solid white 1px;
  transition-delay: 0.25s;
}


.caixa-main{
    border-top: #E4E4E4 5px solid;
    border-radius: 13px;
}

.caixa-parent{
    text-align: left;
}
.caixa-conteudo{
    background-color: #162736;
    margin: 2px 15px;
    margin-top: 40px;
    border-radius: 5px;
    width: 889px;
    height: 111px;
    display: inline-block;
    position: relative;
    left: 5px;
}
#paginainic{
    font-family: beckman;
    color: white;
    text-align: left;
    margin-top:32px;
    font-size: 50px;
    margin-left: 40px;
}
.caixa-boasvindas{
  background-color: #162736;
  margin: 1px 15px;
  border-radius: 5px;
  width: 889px;
  height: 222px;
  display: inline-block;
  position: relative;
  left: 5px;
}
#boasvindas {
  font-family: beckman;
  color: white;
  text-align: center;
  margin-top:55px;
  font-size: 30px;
  margin-left: 40px;
}
#explicacao{
  font-family: beckman;
  color: white;
  text-align: center;
  margin-top:45px;
  font-size: 30px;
  margin-left: 30px;
}
.armas {
  background-color: #162736;
  margin: 25px 15px;
  margin-block-end: 2px;
  border-radius: 5px;
  width: 889px;
  height: 126px;
  display: inline-block;
  position: relative;
  left: 5px;
}
#armas{
  font-family: beckman;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 45px;
  margin-left: 30px;
}
.sub-categoria-armas{
  background-color: #162736;
  margin: 1px 15px;
  border-radius: 5px;
  width: 889px;
  height: 2300px;
  display: inline-block;
  position: relative;
  left: 5px;
}
.sub-text-armas{
  font-family: beckman;
  color: white;
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
  margin-left: 30px;
}
.leves-text{
  font-family: beckman;
  color: white;
  margin-top: 30px;
  font-size: 20px;
  margin-left: 45px;
}
.armas-leves{
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-left: 85px;
  max-width: 800px;
  align-items: center;
}
.armas-leves>div{
  flex: 1 1 60px;
  margin: 30px;
}
p {
  font-family: beckman;
  color: white;
  font-size: 15px;
}
.classic{
  width: 105px;
  height: 75px;
}
.classic:hover{
  width: 115px;
  height: 85px;
}
.shorty{
  width: 175px;
  height: 55px;
}
.shorty:hover{
  width: 185px;
  height: 60px;
}
.frenzy{
  width: 105px;
  height: 75px;
}
.frenzy:hover{
  width: 115px;
  height: 85px;
}
.ghost{
  width: 180px;
  height: 60px;
}
.ghost:hover{
  width: 190px;
  height: 70px;
}
.sheriff{
  width: 150px;
  height: 70px;
}
.sheriff:hover{
  width: 160px;
  height: 80px;
}
.submetralhadoras{
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-left: 85px;
  max-width: 800px;
  align-items: center;
}
.submetralhadoras>div{
  flex: 1 1 60px;
  margin: 30px;
}
.stinger{
  width: 195px;
  height: 75px;
}
.stinger:hover{
  width: 205px;
  height: 80px;
}
.spectre{
  width: 195px;
  height: 75px;
}
.spectre:hover{
  width: 205px;
  height: 80px;
}
.escopetas{
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-left: 85px;
  max-width: 800px;
  align-items: center;
}
.escopetas>div{
  flex: 1 1 60px;
  margin: 30px;
}
.bucky{
  width: 195px;
  height: 35px;
}
.bucky:hover{
  width: 205px;
  height: 40px;
}
.judge{
  width: 195px;
  height: 58px;
}
.judge:hover{
  width: 205px;
  height: 63px;
}
.fuzis{
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-left: 85px;
  max-width: 800px;
  align-items: center;
}
.fuzis>div{
  flex: 1 1 60px;
  margin: 30px;
}
.bulldog{
  width: 205px;
  height: 60px;
}
.bulldog:hover{
  width: 215px;
  height: 65px;
}
.guardian{
  width: 225px;
  height: 50px;
}
.guardian:hover{
  width: 235px;
  height: 55px;
}
.phantom{
  width: 245px;
  height: 58px;
}
.phantom:hover{
  width: 255px;
  height: 63px;
}
.vandal{
  width: 245px;
  height: 70px;
}
.vandal:hover{
  width: 255px;
  height: 75px;
}
.fuzis-precisao{
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-left: 85px;
  max-width: 800px;
  align-items: center;
}
.fuzis-precisao>div{
  flex: 1 1 60px;
  margin: 30px;
}
.marshal{
  width: 275px;
  height: 50px;
}
.marshal:hover{
  width: 285px;
  height: 55px;
}
.operator{
  width: 275px;
  height: 55px;
}
.operator:hover{
  width: 285px;
  height: 60px;
}
.metralhadoras{
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-left: 85px;
  max-width: 800px;
  align-items: center;
}
.metralhadoras>div{
  flex: 1 1 60px;
  margin: 30px;
}
.ares{
  width: 245px;
  height: 47px;
}
.ares:hover{
  width: 255px;
  height: 52px;
}
.odin{
  width: 245px;
  height: 60px;
}
.odin:hover{
  width: 255px;
  height: 65px;
}
.arma-confronto{
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
  margin-left: 85px;
  max-width: 800px;
  align-items: center;
}
.arma-confronto>div{
  flex: 1 1 60px;
  margin: 30px;
}
.faca{
  width: 205px;
  height: 75px;
}
.faca:hover{
  width: 215px;
  height: 85px;
}
.linha-horizontal{
    border-bottom: #162736 2px solid;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
b{
    font-weight: bold;
}

i{
    font-style: italic;
}

.banner{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.caixa-footer{
    border-top: #E4E4E4 5px solid;
    border-radius: 13px;

}
.caixa-rodape{
    background-color: #111111;
    text-align: center;
    /*position: fixed;
    bottom: 0;*/
    width: 100%;
    color: #E4E4E4;
}
.rodape-imagem{
    width: 10%;
    height: 70px;
}

.copyright{
    font-size: 12px;
    font-family: rubik;
    margin-bottom: 5px;
    padding-bottom: 15px;
    font-weight: bold;
}

.icones{
    width: 30px;
    display: inline-block;
    margin-bottom:15px;
    margin-right: 5px;
}
